@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.title h1 {
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 4rem;
    font-style: normal;
    align-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title p {
    color: rgb(127, 126, 126);
    font-size: 2rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    flex-wrap: wrap;
}

#bookcontainer {
    background-color: #e8e8e8;
    margin: 20px;
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
    justify-content: center;
}

.heroimage img{
    width: 45vh;
    margin-bottom: 10px;
}

#imagecontainer {
    border-radius: 10px;
    margin-right: 5px;
    width: 10vw;
    align-self: center;
}

label.text {
    font-size: 0.75rem;
    color: #818cf8;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    background: #e8e8e8;
    width: fit-content;
}

input[type="text"].input {
    padding: 11px 10px;
    font-size: 0.75rem;
    border: 2px #818cf8 solid;
    border-radius: 5px;
    background: #e8e8e8;
    margin: 10px;
    font-size: 1rem;
    font-weight: 500;
}

input[type="text"].input:focus {
    outline: none;
}

button {
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .title h1 {
        font-size: 3rem;
    }

    .title p {
        font-size: 1.5rem;
    }

    .heroimage {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .title h1 {
        font-size: 2.5rem;
    }

    .title p {
        font-size: 1.2rem;
    }
}